.resultado{
    display: flex;
    justify-content: center;
    background-color: var(--corPrincipal);
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.table{
    background-color: var(--corPrincipal);
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.thead{
    display: block;
    justify-items: center;
    padding: 8px;
    font-size: 22px;
    border-bottom: 2px solid var(--corSecundaria);
}

.tbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.td{
    font-size: 18px;
    border-bottom: 2px solid var(--corSecundaria);
}


.tr{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
