*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

:root{
    --corPrincipal: #faebd7;
    --corSecundaria: #cfc4b5;
    --corHover: #ffe3c5;
}